.main-details-container {
  width: 100%;
  height: 600px;
  background-color: rgba(24, 24, 27, 0.288);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: -10;

  
  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 79.17%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .poster-block {
    position: relative;
    height:fit-content;

    margin-top: 400px;
    display: flex;
    gap: 20px;

    .poster {
      width: 280px;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .poster-details {
      width: 800px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .overview{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .movie-name {
        font-size: 60px;
        font-weight: 600;
       
        
      }

      .flex-box-poster {
        display: flex;
        align-items: center;
        gap: 10px;
        .genres {
          .genres-container {
            .names-flex {
              display: flex;
              gap: 10px;
            }
          }
        }
      }
      .features {
        display: flex;
        align-items: center;
        gap: 10px;
        .rating-box {
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          .rating {
            width: 60px;
            height: 60px;
            transition: all 0.5s;
            &:hover {
              width: 65px;
              height: 65px;
            }
          }
        }
        .name {
          word-wrap: break-word;
          width: 50px;
          font-weight: 700;
        }
        .right-div-props {
          border: none;
          background-color: #032541;
          border-radius: 30px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          color: white;
          transition: all 0.5s;

          &:hover {
            background-color: #032541c7;
          }
          .list {
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .trailer {
          display: flex;
          align-items: center;
          transition: all 0.5s;
          &:hover {
            color: white;
            
          }
          .play {
            border: none;
            background-color: transparent;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            transition: all 0.5s;
            &:hover {
              color: white;
            }

            .play-icon {
              width: 20px;
              height: 20px;
            }
          }
          div {
            font-weight: 900;
          }
        }
      }
      .watch-now {
        display: flex;
        gap: 20px;
        width: 1000px;
        align-items: center;
        
       
          
          .watch-button {
            position: relative;
            border-radius: 20px;
            border: none;
            padding: 15px;
            background-color: rgba(255, 0, 0, 0.486);
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: all 1s;
            .effect{
              position: absolute;
              border: 2px solid rgb(37, 35, 35);
              border-radius: 25px;
              width: 124px;
              left: -4px;
              height: 62px;
              top: -4px;
              
              
              display: flex;
              justify-content: center;
              align-items: center;
            
            }
            .hidden{
              display: none;
            }
          }
        
      }
    }
  }
}
