//sidebar
.menu-bar {
  background-color: #333333;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 10;

  width: 300px;
  .left-bar {
    width: 60px;
    background-color: #484848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .close-icon {
      color: white;
    }
  }

  .right-bar {
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: aliceblue;
    h3 {
      color: rgb(165, 255, 47);
      font-weight: 600;
    }

    .route {
      display: flex;
      position: relative;
      gap: 5px;
      padding: 12px;
      align-items: center;
      color: white;
      .red-icon {
        color: red;
      }

      .icon-link {
        color: white;
      }

      .red-box {
        position: absolute;
        right: -10px;
        width: 6px;
        height: 30px;
        background-color: red;
        border: none;
        border-radius: 10px 0 0 10px;
      }
      .icon {
        height: 25px;
        width: 25px;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      a {
        text-decoration: none;

        font-weight: bold;
      }
    }
    .close-icon {
      display: flex;
      justify-content: end;

      height: 10%;
    }
  }

  .logout-box {
    display: flex;
    margin-top: 100px;
    height: 30px;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    color: aliceblue;

    &:hover {
      background-color: rgba(255, 255, 255, 0.318);
    }
    svg {
      height: 100%;
      width: 20%;
    }
    div {
      font-size: 20px;
      width: 80%;
      text-align: start;
    }
  }
}

.hidden {
  display: none;
}

.menu-icon {
  height: 40px;
  width: 40px;
}

//navbar
.menu {
  display: flex;
  align-items: center;

  padding: 0px 20px;
  
  .menu-lib {
    border: none;
    background-color: transparent;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.079);
    }
  }
  .right-div-props {
    border: none;
    background-color: transparent;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.079);
    }
  }
  .menu-icon {
    width: 5%;
    height: 35px;
    width: 35px;
  }
  .genres-box {
    width: 80%;
    ul {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        padding: 20px;
      }
    }
  }
  .right-icons-box {
    width: 15%;
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: end;

    .notifications {
      .notification-box {
        width: 500px;
        height: 500px;
      }
    }

    .right-div-props {
      border: none;
      background-color: transparent;
      border-radius: 30px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.079);
      }
    }
  }
}

.box {
  width: 350px;
  background-color: #333333;
  height: 100vh;
  padding: 20px;

  .profile-section {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .profile-drop-down-menu {
    position: relative;
  }

  .search-bar {
    display: flex;
    // border: 2px solid green;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;

    input {
      width: 60%;
      background-color: rgba(0, 0, 0, 0.154);
      outline: none;
      border: none;
    }
    .search-icon-box {
      width: 20%;
      display: flex;
      height: 40px;

      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.154);
      border-radius: 20px 0 0 20px;
      .search-icon {
        width: 30px;
        height: 30px;
      }
    }
    .filter-icon-box {
      width: 20%;
      border-radius: 0px 20px 20px 0px;
      display: flex;
      height: 40px;

      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.154);

      .filter-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
  .genres {
    margin-bottom: 20px;
    .genres-bar {
      display: flex;
      justify-content: space-between;
      h3 {
        color: yellowgreen;
      }
    }
    .see-all {
      display: flex;
      align-items: center;
      text-decoration: none;
      h4 {
        font-size: 18px;
      }
    }
  }
}
