.bigger {
  position: static;
}

.carousel-backdrop {
  // border: 2px solid rgb(179, 255, 0);
  white-space: nowrap;
  width: 1360px;
  -webkit-scrollbar: disabled;
  position: relative;
  overflow-x: scroll;

  .details-backdrop {
    position: absolute;
    top: 100px;
    margin-left: 13px;
    color: white;
    width: 350px;
    .flex-details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .watch-now {
        display: flex;
        gap: 20px;
        .watch-button {
          border: none;
          border-radius: 20px;
          padding: 10px;
          background-color: rgba(255, 0, 0, 0.37);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
        .plus {
          background-color: rgba(255, 255, 255, 0.435);
          padding: 8px;
          border-radius: 20px;
          width: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: rgba(238, 255, 0, 0.24);
          }

          .plus-icon {
            filter: invert(100%);
          }
        }
      }
    }
    .movie-name {
      font-weight: bolder;

      display: flex;
      flex-wrap: wrap;
      h3 {
        -webkit-line-clamp: 2;
        text-overflow: clip;
        overflow: hidden;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        flex: auto;
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .rating {
      display: flex;

      align-items: center;
      gap: 10px;
      .imdb {
        width: 40px;
        height: 35px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .carouselItem-backdrop {
    display: inline-block;
    height: fit-content;
    width: 400px;
    object-fit: contain;
    margin: 10px 10px;
    border-radius: 20px;
    white-space: nowrap;
    position: relative;

    .posterBlock-backdrop {
      img {
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        height: 100%;
        white-space: nowrap;
        filter: brightness(80%);
        background-color: black;
      }
    }
  }
}

.carousel-backdrop::-webkit-scrollbar {
  display: none;
}
