@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
    
   
    
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
   
      
}


    *::-webkit-scrollbar {
      display: none;
    
    }





  $color1:rgb(13, 13, 15);
  $color2:rgb(26, 23, 30);