@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Open+Sans:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
   
      
}







  $color1:rgb(13, 13, 15);
  $color2:rgb(26, 23, 30);