.cast-container{
margin-top: 50px;
display: flex;
flex-direction: column;
gap: 10px;
h1{
    z-index: 13;
}

    .cast-flex{
        display: flex;
        gap: 25px;
        overflow-x: scroll;
        padding: 0 40px;
        .names{
          display: flex;
          gap: 10px;
          flex-direction: column;
          align-items: center;
          .name{
            font-weight: 600;
            text-align: center;
          }

          .post{
            text-align: center;
          }
        }

       
        &::-webkit-scrollbar {
            
            height: 10px;
            border: none;
            
           
          }
        &::-webkit-scrollbar-track {
            background: #24cc83; 
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #611e1e; 
            -webkit-width:5px;
            border-radius: 10px;
            
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555; 


      .dialogBox{
        width: 500px;
        height: 500px;
        .dialog-box-poster{
          width: 50%;
          height: 100%;
        }
      }
    }
}}