.trending-bar {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        text-decoration: none;
    }
    .see-all{
        display: flex;
        align-items: center;
    }

    
}

