.trending-bar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    h2{
        font-weight: 900;

    }
    .a{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        h3{
            font-weight: 600;
            font-size: 25px;

        }
    }
    

    
}



